{% extends '_templates/base.njk' %}

{% block page_title %}David Lynch Movies{% endblock %}

{% block page_description %}Official home of the David Lynch Fan Club.{% endblock %}

{% block content %}
<div class="hometitle">
  <h1>Welcome to the Black Lodge!</h1>
</div>
<figure>
  <img id="lynchportrait" src="img/Lynch2.jpg" alt="David Lynch on the set of the 'Twin Peaks' season 1 finale">
</figure>
<p id="bio"> 
  David Keith Lynch (born January 20, 1946) is an American filmmaker, 
  painter, visual artist, actor, musician, writer, and philanthropist.
  A recipient of an Academy Honorary Award in 2019, Lynch has received three Academy Award 
  nominations for Best Director, and the César Award for Best Foreign Film twice, as well 
  as the Palme d'Or at the Cannes Film Festival and a Golden Lion award for lifetime achievement
  at the Venice Film Festival. In 2007, a panel of critics convened by The Guardian announced that 
  "after all the discussion, no one could fault the conclusion that David Lynch is the most important 
  film-maker of the current era", while AllMovie called him "the Renaissance man of modern American 
  filmmaking". His work led to him being labeled "the first populist surrealist" by film critic Pauline Kael (photo and image from Wikipedia).
</p>
{% endblock %}