// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";

h2 {
  color: white;
}

h1{
  font-size: 5vw;
  color: white;
  font-family: "Rubik Glitch", cursive;
}

h3{
  font-family: "Rubik Glitch", cursive;
  padding-left: 25px;
}

a{
  color: white;
}

body {
  background-color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
}


#lynchportrait {
  width: 100%;
  height: auto;
}



@media only screen and (max-width: 900px) {
  #bio {
    font-size: 200px;
  }
}

.hometitle{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;  
}
.col-lg-4{
  background-color:#002b82;
  padding: 15%;
}

#legal{
  color: white;
}

#bio{
  margin: 10px;
  font-size: 3vw;
  overflow: auto;
  background-color: black;
  color: white;
  
}


.main-titles{
  padding-bottom: 20px;
  font-family: Merriweather, serif;
  font-size: 3vw;
  color: #002b82;
}

.links{
  font-size:25px;
  margin-top: 150px;
}


.other-titles{
  font-family: Merriweather, serif;
  font-size: 8vw;
  color: #002b82;
}

#main-title{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #002b82;
  width: 100%;
  height: auto
}

#rankrow{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rankrow2{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px;
  border-style: solid;
  border-color: white;
  padding-left: 25px;
  padding-right: 25px;
}

#rowcontain{
  display: flex;
  justify-content: center;
  align-items: center;
}

#rankphoto{
  padding: 15px;
}

#rankpar{
  color: white;
  padding: 15px;
}

#rankblurb{
  color: white;
  padding: 15px;
  margin-left: 15px;
  overflow: auto;
}

.rankdescript{
  color: white;
  border-bottom: 10px;
  border-color: white;
}

.movie-poster{
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: auto;
  padding: 20px;
  overflow: auto;
}



